#previewFull {
  background-color: #000000 !important;
  width: 482px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

#sitetitle {
  border-bottom: 1px dotted #FFFFFF !important;
}

body {
  background-color: #000000 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #FFFFFF !important;
}

.borderRight {
  border-right: 1px solid #000000 !important;
}

#wrapper_thumb {
  width: 484px !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #4C4C4C !important;
  background-color: inherit;
}

.preview {
  border: none !important;
}

.thumbnail {
  background-color: #000000 !important;
  color: inherit;
}

.itemNumber {
  color: #000000 !important;
  display: inherit !important;
  background-color: inherit;
}

#stage2 {
  width: 484px !important;
}

.thumb, .preview {
  filter: none !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #333333 !important;
  color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
}

.borderRightDotted {
  border-right: 1px dotted #000000 !important;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.emptyThumbnail {
  background-color: #000000 !important;
  color: inherit;
}

#wrapper_large {
  width: 484px !important;
}

.borderBottomRight {
  border-right: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}

#previewImage {
  maxSize: 450.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #FFFFFF !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #000000 !important;
}

#stage {
  width: 484px !important;
}

.textColor {
  color: #B3B3B3 !important;
  background-color: inherit;
}
