<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.Database11ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Sandogh Project\VS\ClassLibrary1\db\Database11.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="DBLayare.Properties.Settings.Database11ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Sandogh Project\VS\ClassLibrary1\db\Database11.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="DBLayare.Properties.Settings.Database11ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Sandogh Project\VS\WebApplication1\db\Database11.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>